
<h3>Log in</h3>
<div class="panel panel-default col-md-4">
  <div class="panel-body">

    <%= form_tag sessions_path do %>
        <p class="form-group">
          <%= label_tag :email %><br />
          <%= text_field_tag :email, params[:email], class: 'form-control' %>
        </p>
        <p class="form-group">
          <%= label_tag :password %><br />
          <%= password_field_tag :password, class: 'form-control' %>
        </p>
        <p class="btn btn-raised"><%= submit_tag "Log in" %></p>
    <% end %>
    <%= link_to "Create Account", new_user_path  %>
  </div>
</div>
