<% if @users %>
    <div class=" panel">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Reference ID</th>
          <th>Location</th>
          <th>Room Type</th>
          <th>Views</th>
          <th>Student Contacts</th>
          <th>Viewing Time</th>
          <th>Change Accommodation assistant</th>
        </tr>
        </thead>
        <tbody>
        <% unless @trans.nil? %>
            <% @trans.each do |t| %>
                <tr>
                  <% if(a = get_accom(t)) %>
                      <% u = get_user(t) %> <%# i would suspect that if the accom is there then the user is also there %>
                      <th scope="row"><%= link_to u.token, accommodation_path(a) %></th>
                      <td><%= a.location %></td>
                      <td><%= a.room_type %></td>
                      <td><%= a.views %></td>
                      <td><%= u.email %> : <%= u.contacts %></td>
                      <td><%= "#{t.month} : #{t.time}" %></td>
                      <td>
                        <!--form_tag nikka-->
                        <% r = get_runner(t) %>
                        current Assitant is: <%= r.name %>
                        <%= form_for super_user_path do |f| %>
                            <%= f.hidden_field :trans_id, value: t.id %>
                            <% runners = User.all.collect { |u| [u.name, u.id ] if u.runner? } %>
                            <%= f.select :runner_id, runners.compact , { selected:  r.name } %>
                            <%= f.submit 'Change Accommodation Assistant' %>
                        <% end %>
                      </td>

                  <% end %>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>

<!--#######################################ICE!!!!!!##############################################-->

    <% @users.each do |u| %>
        <ul>
          <li><%= link_to "#{u.id} : #{u.email}, #{u.name}", user_path(u) %> <br>

            <%= link_to [:do, 'super_user', user_id: u.id, runner: false], method: :post, class: 'btn my-btn' do %>
                <%= u.verified? ? "Remove From Admin" : "make Admin" %>
            <% end %>

            <%= link_to [:do, 'super_user', user_id: u.id, runner: true], method: :post, class: 'btn my-btn btn-success' do %>
                <%= u.runner? ? 'Remove From Accommodation Assistant List' : 'Make Accommodation Assistant' %>
            <% end %>

            <% if u.runner? %>
                 Running
                times: <%= u.time_slots.empty? ? '<h4>[Oops This Accommodation Assistant has no running time slots]</h4>'.html_safe : u.time_slots.all.collect { |t| t.time } %>
                <div class=" panel">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>profile image</th>
                      <th>Reference ID</th>
                      <th>Student info</th>
                      <th>Location</th>
                      <th>Room Type</th>
                      <th>Views</th>
                      <th>Host</th>
                      <th>Viewing Time</th>
                      <th>Actions</th>
                    </tr>
                    </thead>


                    <tbody>
                    <% if !@trans.nil? %>
                        <% @trans.where('runner_id = ? ', u.id).each do |t| %>
                            <% if (a = get_accom(t)) %>
                                <tr id="<%= t.id %>">
                                  <% u = get_user(t) %> <%# i would suspect that if the accom is there then the user is also there %>
                                  <td>
                                    <div class="row_image">
                                      <%= check_if_nil u.profile_img.url, '/images/profile.jpg', 'row_image' %>
                                    </div>
                                  </td>
                                  </td>
                                  <th scope="row"><%= link_to u.token, user_path(u) %></th>
                                  <td>

                                    <%= u.email %> : <%= u.contacts %> </td>
                                  <td><%= a.location %></td>
                                  <td><%= a.room_type %></td>
                                  <td><%= a.views %></td>
                                  <td>
                                    <%= link_to a.user.name , accommodation_path(a) %>
                                  <td><%= "#{t.month} : #{t.time}" %></td>
                                  <td>
                                    <%= link_to [:student_pay, a, student_id: t.user_id, trans_id: t.id], method: :post, class: 'like', id: 'runnerBtn', remote: true, form: {'data-type' => "json"} do %>
                                        <%= t.std_confirm? ? 'keep up good work' : 'student would like to secure this room right now' %>
                                    <% end %></td>
                            <% end %>
                            </tr>
                        <% end %>
                    <% end %>

                    </tbody>
                  </table>
                </div>
            <% end %>
          </li>
        </ul>
    <% end %>
         <p> <%= will_paginate @users, id: 'crazy', class: 'pagination' %><p>
<% else %>
    <div class="hero">
      <div class="panel">
        <p class="text_warning">Wud busted you!!!!!! Reporting you now.................
        <p>
        <p class="text_warning">If you truly dont know how you got here go back to the home page here, but you will
          still be reported!<%= link_to 'Classfinder', root_path %><p>
        <div>


        </div>
<% end %>
