
  <div class="col-md-12 my-search ">
    <div class=" text-center">
      <div class="form-group">
        <%= form_tag search_index_path, :method => :get, id: 'items_search', class: 'form-inline form-search'  do %>
            <div class=" form-g">
              <%= select_tag "category", options_from_collection_for_select(@cat, "id", "name"), class: 'form-control' %>
              <%= text_field_tag :search, params[:search], class: ' form-control', style: 'width: 500px'%>
              <%= submit_tag 'Search', name: nil, class: 'btn  btn-success', id: 'mySearch' %>
              <%= submit_tag '', name: nil, class: 'btn btn-info ', id: 'mySearch' %>
            </div>

        <% end %>
      </div>
    </div>

<div id="my-items">
 <% if @items %>
      <%= render(partial: 'shared/item', collection: @items)  %>
      <div>

      </div>
      <% else %>
      <h2 class="text-bold text-capitalize text-center my-center"><i class="material-icons md-48">search</i> Search For Stuff...</h2>
  <% end %>
</div>

  <div id="infinity-scroll">

    <%=  will_paginate @items if @items  %>
  </div>
  </div>

