<%#  todo make these partials %>

<div class="col-md-12 my-search ">
  <div class=" text-center">
    <div class="form-group">
      <%= form_tag search_index_path, :method => :get, id: 'items_search', class: 'form-inline form-search' do %>
          <div class=" form-g">
            Select
            category: <%= select_tag "category", options_from_collection_for_select(@cat, 'id', "name" ), class: 'form-control' %>
            <%= text_field_tag :search, params[:search], placeholder: 'Search Books and Accommodation', class: ' form-control', style: 'width: 500px' %>
            <%= submit_tag 'Search', name: nil, class: 'btn  my-btn-green', id: 'mySearch' %>
            <%# submit_tag '', name: nil, class: 'btn btn-info ', id: 'mySearch' %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-9" id="my-items">
    <% if @books %>
        <%= render(partial: 'shared/book', collection: @books) || '<h4 class="text-center">There are no books the match your search, we are really sorry :)</h4>'.html_safe %>
        </div>
        <div id="infinity-scroll">
          <%= will_paginate @books if @books %>
        </div>
    <% elsif @acs %>
        <div id="my-items">
        <%= render(partial: 'shared/accommodation',
                   collection: @acs) ||
                '<h4 class="text-center">There are no accommodations the match
                     your search, please try using the better
                <a href="/accommodations">accommodations search</a>  <h4>'.html_safe %>
        </div>
        <div id="infinity-scroll">
          <%= will_paginate @acs if @acs %>
        </div>
    <% else %>
        <h3 class="text-center"><i class="fa fa-search " aria-hidden="true"></i> Nothing to show yet</h3>
    <% end %>
    </div>
</div>

