
<div>
  <%= render :partial=> 'search' %>
</div>

<%# make this partials %>
<hr class="my-btn">
  <div id="my-items">
    <% if @acs.empty? %>
      <p class=" text-center">Sorry there are no accommodations that match your search</p>
    <% else  %>
    <% @acs.each do |item| %>
        <div class="col-md-3 item" >
          <div class="panel panel-body my_div" style="padding: 0px;">
            <%= image_tag item.pictures[0].image, class: 'card-img-top' unless item.pictures[0].nil?  %>
            <div class="card-block">
              <h4 class="card-title"> <span class="text-bold text-success"> R <%= item.price.round(2) %></span></h4>

              <!--<span class="likes-count" data-id="<%# item.id %>" > <%# item.tot_likes %> </span>-->
              <%# link_to [:like, item], method: :post, class: 'like', remote: true, form: {'data-type' => "json" }  do %>
              <!--<i class="material-icons my-small-icon" style="color: #ff0722;">favorite</i>-->
              <%# end %>
              <small class="badge badge-success"><%= item.room_type %></small> <br>
              Around <%= item.location  %> <br>
              By <%= item.user.name %> <br>
              <% if item.user == current_user %>
                  <div class="pull-right">
                    <%= link_to 'Delete', accommodation_path(item),
                                data: {:confirm => 'Are you sure?'}, :method => :delete %>
                  </div>
              <% end %>
            </div>
            <%= button_to 'More Info', accommodation_path(item), class: 'btn my-btn nice', method: :get  %>
            <%# link_to '<button type="button">View Item</button>'.html_safe, item_path(item), class: 'btn btn-info my-button' %>
          </div>
        </div>
    <% end %>
        <% end %>

    <div id="infinity-scroll" style="display: inline-block" ><%= will_paginate @acs %></div>
</div>