<div id="notification">

</div>
<!-- Slider -->
<div class="col-md-12" id="slider">
  <!-- Top part of the slider -->
  <div class="col-md-8" id="carousel-bounding-box">
    <div class="carousel slide" id="myCarousel">
      <!-- Carousel items -->
      <div class="carousel-inner" style="margin-bottom: 20px">
        <% counter = 0 %>
        <% @ac.pictures.each do |p| %>
            <div class="<%= image_slider_helper(counter) %>  " data-slide-number=<%= counter %>>
                 <%= image_tag p.image, class: 'img-responsive' , id: 'my_img'%>
                 <% counter += 1 %>
            </div>
        <% end %>
      </div><!-- Carousel nav -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Around <%= @ac.location %></h4>
        <p><span class="label label-info"><%= "#{@ac.room_type} around #{@ac.location}" %></span></p>

        <%= @ac.description %>
        <p>Price: R <span class="text-success text-bold"><%= @ac.price.round(2) %></span>p.m</p>
        <p>Views: <%= @ac.views %></p>
      </div>
      <div class="">
        <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#secureRoom">Secure Room</button>-->
        <button type="button" class="btn my-btn nice" data-toggle="modal" data-target="#viewBooking">Book Viewing
        </button>
      </div>
    </div>

    <!--seller Infomation -->
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="text-bold">Seller Info</h4>
        <div class="">
          <%= link_to(check_if_nil(@ac.user.profile_img, '/profile.png', 'user-avatar'), user_path(@ac.user)) %>
        </div>
        <p><%= @ac.user.email %></p>
        <p><%= @ac.user.contacts %></p>
      </div>
    </div>

  </div>
</div>

<%#  todo move this to its own partial %>

<!--<div id="secureRoom" class="modal fade" tabindex="-1" style="display: none;">-->
<!--<div class="modal-dialog">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button"  class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
<!--<h4 class="modal-title text-bold text-danger">Are you sure?</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<p>In order to be able to secure a room you need to be sure that you will be able to deposit the room within 3 hours.-->
<!--Due to availability of Room, so hurry bra!.-->
<!--<br>-->
<!--</p>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--&lt;!&ndash;<button type="button" class="btn btn-primary" data-dismiss="modal">Continue<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 49.6562px; top: 20px; background-color: rgb(0, 150, 136); transform: scale(10.875);"></div></div></button>&ndash;&gt;-->
<!--<div id="my-form">-->
<!--<%#  form_for :user, :remote => true,  :url => secure_room_accommodation_path ,:html => { :id => 'secureRoom', class: 'btn btn-primary'} do |f| %>-->
<!--<%# f.hidden_field :host_id, value: @ac.user.id %>-->
<!--<%# f.hidden_field :std_id, value: current_user.id if current_user%>-->
<!--<%# f.hidden_field :booking_type, value: 1 %>-->
<!--<%# f.submit 'Yes book room now please!', id:'secureSubmit' %>-->
<!--<%# end %>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--MODAL 2-->

<div id="viewBooking" class="modal fade" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title text-bold text-danger">Here Are The Availbale Times?</h4>
      </div>
      <div class="modal-body">
        <p>Please Select the time that you would be able to view the room
          <br>

          Press
        <div id="my-form">
          <%= form_for :user, :remote => true, :url => secure_room_accommodation_path, :html => {:id => 'secureRoom'} do |f| %>
              <%= f.hidden_field :host_id, value: @ac.user.id %>
              <%= f.hidden_field :std_id, value: current_user.id if current_user %>
              <%= f.hidden_field :booking_type, value: 0 %>
              <% #todo use select time %>
              Time:
              <%= f.select :time , TimeSlot.all.collect { |slot| slot.time }, class: 'form-control'  %>
              Viewing Day:
              <div id="sand-box">
                <%= f.text_field :month, id: 'viewTime' %>
              </div>
              </div>
              </p>
              </div>
              <div class="modal-footer">
                <%= f.submit 'Continue', class: 'btn btn-success', id: 'viewBookingBtn' %>
          <% end %>
          </div>
          </div>
  </div>
</div>

<script>
  $("#viewTime").focus(function() {
    $('#viewTime').datepicker();
  })
  $('#sandbox-container input').datepicker({
    daysOfWeekDisabled: "1"
  });
</script>


