<div class=" panel">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Reference ID</th>
      <th>User info</th>
      <th>Location</th>
      <th>Room Type</th>
      <th>Views</th>
      <th>Student Email</th>
      <th>Viewing Time</th>
      <th>Actions</th>
    </tr>
    </thead>


    <tbody>
    <% if !@trans.nil? %>
        <% @trans.each do |t| %>
            <% if (a = get_accom(t)) %>
                <tr id="<%= t.id %>">
                  <% u = get_user(t) %> <%# i would suspect that if the accom is there then the user is also there %>
                  <th scope="row"><%= link_to u.token, accommodation_path(a) %></th>
                  <td><%= u.email %> : <%= u.contacts %> </td>
                  <td><%= a.location %></td>
                  <td><%= a.room_type %></td>
                  <td><%= a.views %></td>
                  <td><%= get_user(t).email %></td>
                  <td><%= "#{t.month} : #{t.time}" %></td>
                  <td>
                    <%= link_to [:student_pay, a, student_id: t.user_id, trans_id: t.id], method: :post, class: 'like', id: 'runnerBtn',  remote: true, form: {'data-type' => "json"} do %>
                        <%= t.std_confirm? ? 'keep up good work' : "student would like to secure this rooom right now" %>
                    <% end %></td>
            <% end %>
            </tr>
        <% end %>
    <% end %>

    </tbody>
  </table>
</div>


