<div id="msg">
</div>
<div>
  <%= link_to "Books Sells", books_panel_user_path %>
  <h3> Your Accommodation Bookings</h3>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Reference ID</th>
      <th>Location</th>
      <th>Room Type</th>
      <th>Host Name</th>
      <th>Price</th>
      <th>Views</th>
      <th>Booking Type</th>
      <th>Message</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @trans_by_this_user.each do |transaction| %>
        <% a = get_accom(transaction) %>
        <% u = get_user(transaction) %>
            <tr>
              <% #todo is this required? %>
              <th scope="row"><%= u.token %></th>
              <td><%= a.location %></td>
              <td><%= a.room_type %></td>
              <td><%=link_to a.user.name, accommodation_path(a) %></td>
              <td><%= a.price %></td>
              <td><%= a.views %></td>
              <td><%= transaction.booking_type? ? 'Securing' : 'Viewing' %></td>
              <td><%= transaction.message %></td>
              <td>
                <%# right now we cant wait for payment from host %>
                <%# if transaction.go_ahead? || u.runner? %>
                <%= link_to [:student_pay, a, student_id: transaction.user_id, trans_id: transaction.id],
                            method: :post, class: 'like', remote: true, form: {'data-type' => "json" }  do %>
                    <%= transaction.std_confirm? ?
                            "Congrats You have paid for this room" : "Confirm payment to the Host" %>
                <% end %>
                    <%# else %>
                    <!--waiting for host confirmation-->
                <%# end %>
              </td>
            </tr>
    <% end %>
    </tbody>
  </table>
</div>