<div class="">
  <div class="header">
    <%= check_if_nil @user.cover.url, '/default_cover.png', 'profile-cover' %>

    <div class="">
      <%= check_if_nil @user.profile_img.url, '/images/profile.jpg', 'profile-img'  %>
    </div>
</div>

  <h4>Contact details</h4>
  <div class="contacts-panel">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class ="user-name text-bold">
          Name : <%= @user.name %>
        </div>
        <%= @user.email %> <br>
        Phone: <%= @user.contacts %>
        <%= link_to 'Edit profile', edit_user_path(@user), class: 'btn btn-sm btn-flat ' if current_user == @user %>
      </div>
    </div>
  </div>
</div>
<% if @user.about  %>
<h4>About</h4>
<div class="">
  <div class="panel panel-default">
    <div class="panel-body">


      <p><%= @user.about %></p>

      </div>
    </div>
  </div>
<% end %>
<div>
  <% if @user.verified %>
      <div class="col-md-12">
        <div class="col-md-3">
          <a class="btn btn-block btn-danger" href="?cat=1" style="color: rgb(243, 238, 245); background-position: 80% 79%; background-color: rgba(255, 87, 34, 0.92);" >Wanted Rooms</a>
          <a class="btn btn-block btn-danger" href="?cat=3" style="color: rgb(243, 238, 245); background-position: 80% 79%; background-color: rgba(255, 87, 34, 0.92);">Paid By Students</a>
          <a class="btn btn-block btn-danger" href="?cat=2" style="color: rgb(243, 238, 245); background-position: 80% 79%; background-color: rgba(255, 87, 34, 0.92);" >Room View Requests</a>
          <a class="btn btn-block btn-danger" href="?cat=4" style="color: rgb(243, 238, 245); background-position: 80% 79%; background-color: rgba(255, 87, 34, 0.92);" >Fully Booked</a>
        </div>
        <div class="col-md-9 panel">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>Location</th>
              <th>Room Type</th>
              <th>Views</th>
              <th>Student Email</th>
              <th>Viewing Time</th>
              <th>Actions</th>
            </tr>
            </thead>


            <tbody>
          <% if !@trans.nil? %>
                <% @trans.each do |t| %>
                <tr>
                  <% if(a = get_accom(t)) %>
                      <th scope="row"><%= link_to 1, accommodation_path(a) %></th>
                    <td><%= a.location %></td>
                    <td><%= a.room_type %></td>
                    <td><%= a.views %></td>
                    <td><%= get_user(t).email %></td>
                    <td><%= "#{t.month} : #{t.time}" %></td>
                      <td>

                        <% if t.go_ahead? %>

                        <%= link_to [:pay, a, student_id: t.user_id, trans_id: t.id],  method: :post, class: 'like', remote: true, form: {'data-type' => "json" }  do %>
                          <i class="material-icons my-small-icon" style="color: #ff0722;">done</i><small>done</small>
                      <% end %></td>

                       <% else %>
                            <%= link_to [:go_ahead, a, student_id: t.user_id, trans_id: t.id],  method: :post, class: 'like', remote: true, form: {'data-type' => "json" }  do %>
                                <i class="material-icons my-small-icon" style="color: #ff0722;">done</i><small>go ahead room is a vailable, </small>
                            <% end %>
                        <% end  %>
                <% end %>
                </tr>
                <% end %>
            <% end %>

  </tbody>
  </table>
        </div>
      </div>
  <% else %>
      <%= link_to "Check Panel", panel_user_path(@user) %>
      <h4>Items sold by : <%= @user.name.capitalize%></h4>  <p><%= link_to 'Sell Your Stuff Yeah?', new_item_path %></p>
      <%= render(partial: 'shared/item', collection: @user.items) || 'You have not sold anything' %>
  <% end %>


<div>
</div>
</div>