<div class="">
  <div class="header">
    <%= check_if_nil @user.cover.url, '/default_cover.png', 'profile-cover' %>

    <div class="">
      <%= check_if_nil @user.profile_img.url, '/images/profile.jpg', 'profile-img'  %>
    </div>
</div>

  <h4>Contact details</h4>
  <div class="contacts-panel">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class ="user-name text-bold">
          Name : <%= @user.name %>
        </div>
        <%= @user.email %> <br>
        Phone: <%= @user.contacts %>
        <%= link_to 'Edit profile', edit_user_path(@user), class: 'btn btn-sm btn-flat ' if current_user == @user %>
      </div>
    </div>
  </div>
</div>
<% if @user.about  %>
<h4>About</h4>
<div class="">
  <div class="panel panel-default">
    <div class="panel-body">


      <p><%= @user.about %></p>

      </div>
    </div>
  </div>
<% end %>
<div  id="notice">

</div>
<div>
  <% if @user.verified %>
      <style>
        .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
          color: #fff;
          background-color:  #FF5722;
        }
      </style>
      <% k = params['cat'] %>

      <div class="container"><h2>Admin Panel</h2></div>
      <div id="exTab3" class="contaner">
        <ul  class="nav nav-pills">
          <li class="<%= gen_active(k, 1) %>" id="licat1"   href="#1b" data-tggle="tab">
            <a id="cat1" href="?cat=1">Available Rooms</a>
          </li>
          <li class="<%= gen_active(k, 2) %>" id="licat2" href="#2b"  data-tggle="tab">
            <a id="cat2" href="?cat=2">Paid By Students</a>
          </li>
          <li class="<%= gen_active(k, 3 ) %>" id="cat3"  href="#3b" data-tggle="tab">
            <a href="?cat=3"> Room View Requests</a>
          </li>
          <li class="<%= gen_active(k, 4 ) %>" id="cat4" href="#4b" data-ggle="tab">
            <a href="?cat=4" >Fully Booked</a>
          </li>
        </ul>

        <div class="tab-content clearfix">
          <div class="tab-pane active" id="1b">
           <h3> <%= explain(k, k) %> </h3>
          </div>
        </div>
      </div>

        <div class=" panel">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>Location</th>
              <th>Room Type</th>
              <th>Views</th>
              <th>Student Email</th>
              <th>Viewing Time</th>
              <th>Actions</th>
            </tr>
            </thead>


            <tbody>
          <% if !@trans.nil? %>
                <% @trans.each do |t| %>
                <tr>
                  <% if(a = get_accom(t)) %>
                      <th scope="row"><%= link_to 1, accommodation_path(a) %></th>
                    <td><%= a.location %></td>
                    <td><%= a.room_type %></td>
                    <td><%= a.views %></td>
                    <td><%= get_user(t).email %></td>
                    <td><%= "#{t.month} : #{t.time}" %></td>
                      <td>

                        <% if t.go_ahead? %>

                        <%= link_to [:pay, a, student_id: t.user_id, trans_id: t.id],  method: :post, class: 'like', remote: true, form: {'data-type' => "json" }  do %>
                          <i class="material-icons my-small-icon" style="color: #ff0722;">done</i><small>Confirm Student Payment</small>
                      <% end %></td>

                       <% else %>
                            <%= link_to [:go_ahead, a, student_id: t.user_id, trans_id: t.id],  method: :post, class: 'like', remote: true, form: {'data-type' => "json" }  do %>
                                <i class="material-icons my-small-icon" style="color: #ff0722;">done</i><small>go ahead room is a vailable, </small>
                            <% end %>
                        <% end  %>
                <% end %>
                </tr>
                <% end %>
            <% end %>

  </tbody>
  </table>
        </div>
  <% else %>
      <%= link_to "Check Panel", panel_user_path(@user) %>
      <h4>Items sold by : <%= @user.name.capitalize%></h4>  <p><%= link_to 'Sell Your Stuff Yeah?', new_item_path %></p>
      <%= render(partial: 'shared/item', collection: @user.items) || 'You have not sold anything' %>
  <% end %>


<div>
</div>
</div>