                    <!-- Slider -->
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                            <div class="col-sm-8" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner" style="margin-bottom: 20px">
                                      <% counter = 0 %>
                                      <% @item.pictures.each do |p| %>
                                        <div class= "<%= image_slider_helper(counter) %>  " data-slide-number= <%= counter %> >
                                        <%= image_tag p.image, class: 'img-responsive ', style: 'height: 447px; width: 100%; ' %>
                                            <% counter += 1%>
                                        </div>
                                        <% end %>
                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                          <div class="col-md-4">
                              <div class="panel panel-default">
                                <div class="panel-body">
                                  <h4 class="text-bold"> Item Description</h4>
                                  <h4><%=  @item.name %></h4>
                                  <p><span class="label label-info"><%= @item.category.name if @item.category %></span> </p>
                                  <%= @item.description %>
                                  <p class="text-success text-bold">Price: R <%= @item.price.round(2) %></p>
                                  <span class="likes-count" data-id="<%= @item.id %>" > <%= @item.tot_likes %> </span>
                                  <%= link_to [:like, @item], method: :post, class: 'like', remote: true, form: {'data-type' => "json" }  do %>
                                      <i class="material-icons my-small-icon" style="color: #ff0722;">favorite</i>
                                  <% end %>
                                  <p>Views: <%= @item.views %></p>
                                  </div>
                           </div>

                              <div class="panel panel-default">
                                <div class="panel-body">
                                  <h4 class="text-bold">Seller Info</h4>
                                  <div class="">
                                    <%= link_to(check_if_nil(@item.user.profile_img, '/profile.png', 'user-avatar'), user_path(@item.user)) %>
                                  </div>
                                  <p><%= @item.user.email %></p>
                                  <p><%= @item.user.contacts %></p>
                                </div>
                              </div>

                          </div>
                    </div>



                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                          <% k = 0 #is it necessary? %>
                        <%  @item.pictures.each do |p| %>
                            <li class="col-sm-2">
                                <a class="thumbnail" id=<%= "carousel-selector-#{k}"%> > <%= image_tag p.image %> </a>
                            </li>
                            <% k += 1%>
                            <% end %>
                        </ul>
                </div>
