<div class="navbar navbar-inverse navbar-warning">
  <div class="container">
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<div class="brand"><%= link_to "Classfinder++", root_path, class: "navbar-brand text-bold" %></div>-->
      <div class="logo">
          <%= image_tag('logo.png',  class: "icon") %>
      </div>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <% if !current_user.verified? %>
                <li class="<%= active('users') %>"><%= link_to "My Bookings", panel_user_path(current_user)  unless current_user.runner? %></li>
                <li class="<%= active('users') %>"><%= link_to "My Bookings", user_path(current_user) if current_user.runner? %></li>
                <li class="<%= active('venue_finder') %>"><%= link_to 'Find Open Venue',  find_open_venue_path %></li>
                <% else %>
                <li class="<%= active('accommodations') %>"><%= link_to 'Add Accommodation', new_accommodation_path %></li>
                <li class="<%= active('users') %>"><%= link_to 'Manage Accommdation', user_path(current_user) %></li>

            <% end %>
            <% else %>
            <li class="<%= active('venue_finder') %>"> <%= link_to 'Find Open Venue', find_open_venue_path , class: active('user') %></li>
        <% end %>

        <li class="<%= active('accommodations') %>"><%# link_to 'Shop For Stuff',   items_path %></li>
        <li class="<%= active('accommodations') %>"><%# link_to 'Sell Stuff',   new_item_path %></li>

        <li class="<%= active('accommodations') %>"> <%= link_to 'Find Accommodation', accommodations_path %></li>

        <li class="<%= active('search') %>"><%= link_to 'Search All', search_index_path %></li>
        <li class="dropdown <%= active('books') %>">
          <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown"> Used Books
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ><%= link_to 'Find Books', books_path %></li>
            <li ><%= link_to "Add Books", new_book_path %></li>
          </ul>
        </li>

        <% if current_user %>



            <li class="dropdown">
              <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %>
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="<%= active('users') %>"><%= link_to 'Profile', user_path(current_user) %></li>
                <li class="divider"></li>
                <li class="<%= active('users') %>"><%= link_to "Log out", log_out_path %></li>
              </ul>
            </li>

        <% else %>
            <li class="<%= active('hosts') %>"><%= link_to 'Sign Up/In', '/hosts', id: "sign_in" %></li>
            <li class="<%= active('about') %>"><%= link_to 'About', about_path %></li>
        <% end %>


      </ul>
    </div>
  </div>
</div>
