<!DOCTYPE html>
<html>
<head>

  <title>Metalojiq::ClassFinder</title>
   <meta charset="utf-8">
   <meta name="viewport"    content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">


</head>
<body>

<div>
<%= render 'layouts/header' %>
  <% flash.each do |key, value| %>

      <% if key == 'alert'%>
          <%= content_tag(:div, value, class: 'container alert alert-warning') %>
      <% elsif key == 'notice' %>
          <%= content_tag(:div, value, class: 'container alert alert-success') %>
      <% else %>
          <%= content_tag(:div, value, class: "container alert alert-#{key}") %>
      <% end %>
  <% end %>
</div>
<% #todo bad hack %>
<% if params[:controller] == 'welcome' %>
    <%= yield %>
  <% else %>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
<% end %>

<%# todo remove this %>
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
</body>
</html>