<!DOCTYPE html>
<html>
<head>

  <title>Metalojiq::ClassFinder</title>
  <%= favicon_link_tag 'favicon.ico' %>
   <meta charset="utf-8">
   <meta name="viewport"    content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">-->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>

<div>
<%= render 'layouts/header' %>
  <% flash.each do |key, value| %>

      <% if key == 'alert'%>
          <%= content_tag(:div, value, class: 'rm-border alert alert-warning') %>
      <% elsif key == 'notice' %>
          <%= content_tag(:div, value, class: 'rm-border alert alert-success') %>
      <% else %>
          <%= content_tag(:div, value, class: "rm-border alert alert-#{key}") %>
      <% end %>
  <% end %>
</div>
<% #todo bad hack %>
<% if params[:controller] == 'welcome' %>
    <%= yield %>
  <% else %>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
<% end %>

<%# todo remove this %>
<!--<%# javascript_include_tag "https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js", 'application ' %>-->
</body>
</html>